*{
box-sizing: border-box;

}

.container {
  padding-top: 30px;
 
}

h1 {
    text-align: center;
    font-size: 40px;
    }

p {
    
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    font-size: 20px;
}

#startBtn {
  margin-left: 20%;
}

.btn-primary {
  text-align: center;
  display: center;
  width:200px;
  margin-bottom: 4px;
}

.col-md-12 {
  margin-left: 20%;
}

#time-left {
  font-size: larger;
  text-shadow: #FC0 1px 0 10px;
}

#currentPoints {
  font-size: large;
  text-shadow: blueviolet 1px 0 10px;
}
