*{
box-sizing: border-box;

}

.container {
  padding-top: 30px;
 
}

h1 {
    text-align: center;
    font-size: 40px;
    }

p {
    
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    font-size: 20px;
}

/* button {
  /* display:inline-block; */
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #FFFFFF;
  padding: 10px 30px;
  text-align: center;
  background-color:#f14e4e;
  font-size:20px;
  width: auto;
  */

#startBtn {
  margin-left: 15%;
}

.btn-primary {
  margin-bottom: 5px;
  /* margin-left: 15%; */
}

/* .Main {
  display:flex;
  flex-direction: column;
} */